<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rarasnet.rnp.app"
    android:versionCode="23"
    android:versionName="0.23"
    android:revisionCode="23">

    <!-- Permissoes -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.caronaphone.caronaphonemvc.permission.C2D_MESSAGE" />

    <application
        android:name="com.rarasnet.rnp.shared.application.RarasNet"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo_no_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAilFhZThjdRWcIb5CFKdlEpRk1VI8-GpA "/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".InitialActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:label="@string/app_name"
            android:name=".MainMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.rnp.app.action.main_menu" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
