<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rarasnet.rnp.autenticacao">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".controllers.activities.LoginActivity"
            android:launchMode= "singleInstance"
        >
        </activity>

        <activity
            android:name=".controllers.activities.RegisterActivity"
            android:launchMode= "singleInstance"
            >
        </activity>

    </application>

</manifest>
